{% extends 'base.html' %}

{% block content %}

</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<body>
 
  <div style="margin-top: 20%; margin-center;width:300px">
    
   <form action="add1" class="d-flex" method='post' autocomplete="off" name="rollno">
      {% csrf_token %}

      <input class="form-control" style="font-size:20px"placeholder="ROLLNO" maxlength="8" pattern=".{8,}" name="num2" required>
      
       <button class="btn btn-primary" type="submit">GO</button>
        
    </form>

  </div><br>
       
  {% for message in messages %}
    {% if message.tags == 'error' %}
         <h4 style="color:red;"> {{ message }} </h4>
    <!-- sweetalert js -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
      var m = "{{ message }}";
      Swal.fire({
        icon: 'error',
        iconHtml: '&#9747;',
        text: m,
        confirmButtonColor: 'btn-btn-outline',
        //color: '#fff',
        background: '#FFFFFF',
        allowEscapeKey: false,
        showClass: {
          popup: 'my-icon'                     // disable popup animation css
        },
      });
    </script>
    {% endif %}
  {% endfor %}


</body>


</html>

{% endblock content %}
