{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
   	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" type="text/css" />
<body>
        <div class="container-fluid">
			<div class="row " style="margin-top:10px;">
				
				<div class="col-md-1"></div>
				<div class="col-md-3" style="margin-left: 10px;display:revert;font-size: 50px" style="margin-left: 10px;margin-top:10px">
					<div class="mb-3" style="margin-left: 10px;display:revert;font-size: 50px">
						<h3><p style="border: 1px solid black">ROLLNO:{{ result.Rollno }}</p></h3>
					</div>

					<div class="mb-3" style="margin-left: 10px;display:revert;font-size: 50px">
						<h3><p style="border: 1px solid black">NAME:{{ result.Name }}</p></h3>
					</div>

					<div class="mb-3" style="margin-left: 10px;display:revert;font-size: 50px">
						<h3><P style="border: 1px solid black">FatherName : {{ result.FatherName }}</P></h3>
					</div>

					<div class="mb-3" style="margin-left: 10px;display:revert;font-size: 50px">
						<h3><P style="border: 1px solid black">Gender :  {{ result.Gender }}</P></h3>
					</div>

					<div class="mb-3;form-control" style="margin-left: 10px;display:revert;font-size: 50px">
						<h3><P style="border: 1px solid black">DOB :  {{ result.DOB }}</P></h3>
					</div>
					
					<div class="mb-4">
						
						           <form id="chipdata" method="post" action="chipdata"name="form" onsubmit="return validateForm()" >
												{% csrf_token%}
							
												<label>Bib</label>
												<div class="mb-4">
													<input style="font-size:20px"class="form-control" placeholder = "Enter Bib number" name="BiB">
												<div class="error" id="bibErr"></div>
												</div>
												
												<div class="mb-4">
													<label>Chipcode1</label>
												<input style="font-size:20px"class="form-control" placeholder = "Enter chip code 1" name="Chipcode1">
												<div class="error" id="chip1Err"></div>
												</div>
												<div class="mb-4">
												<label>Chipcode2</label>
												<input style="font-size:20px"class="form-control" placeholder = "Enter chip code 2" name="Chipcode2">
												<div class="error" id="chip2Err"></div>
												</div>
											
											</div>
										</div>
			
										<div class="col-1">
										</div>

										<div class="col-6" style="margin-left: 20px;">
											<div class="card-body">
												<table>
												<tr>
												<td><video autoplay="true" id="videoElement"  height="350" name='vid'>
												</video>
												<td><canvas id="CANVAS" width="350" height="350" style="border:1px solid #000000;margin-top:30px;" name='image'>
												</canvas><br><br></td>
												</tr>
												</table>
												<a id="download" download="face.jpg"> 
												
												<input id="webimg" name="src" type="text" style="display: none;"required >
												<button onclick="myFunction(); download();" class="btn btn-primary dropdown-toggle"
												type="submit">capture</button>
												{% comment %} <input type="submit"> {% endcomment %}
									
						            </form>
								    <div>
								
									<script>
										var frm = $('#chipdata');
										var formData = new FormData(document.getElementsByName('')[0]);
										frm.submit(function (e) {
											var form = $(this);
											e.preventDefault();
												$.ajax(
													{
														type:"POST",
														url: frm.attr('action'),
														data:{
														BiB : $('#BiB').val(),
														Chipcode1 : $('#Chipcode1').val(),
														Chipcode2 : $('#Chipcode2').val(),
														candidate_image:$('#src').val(),
														csrfmiddlewaretoken: '{{ csrf_token }}',
														dataType: "json",
														
														},
														data: form.serialize(),
														success: function( data )
														{
														alert('photo captured wrongly Take  again');
														},
														error:function()
														{
															alert("Error : Take the picture again");
														}
													});
											
									
										});  
									</script> 
									<h2>{{message}}</h2>
					
									{% comment %} ****camara script**** {% endcomment %}
								<script>
									function download() {
										//var dow = document.getElementById("download");
														var imagedata = document.getElementById("CANVAS").toDataURL("image/png")
															.replace("image/jpg", "image/octet-stream");
														//dow.setAttribute("href", imagedata);
														
														document.getElementById("webimg").value = imagedata;
														console.log(document.getElementById("webimg").value )
													}					
							
													var video = document.querySelector("#videoElement");
							
													if (navigator.mediaDevices.getUserMedia) {
														navigator.mediaDevices.getUserMedia({ video: true })
															.then(function (stream) {
																video.srcObject = stream;
															})
															.catch(function (err0r) {
																console.log("Something went wrong!");
															});
														var i = 0;
														function myFunction() {
															var x = document.getElementById("CANVAS");
															var ctx = x.getContext("2d");
															ctx.fillStyle = "#FF0000";
							
															ctx.drawImage(video, 0, 0, 400, 350);
							
														}
							
													}
								</script>
						 
								<div class="mt-3 ">
											<div class='col-1'style="margin-left: 10px;width:605px"> 
												<table style="width:100%">
													<tr>
													<form id="update_data" action="update_data" method="POST">
																	{%csrf_token%} 
																		<table>
																		<tr>
																			<td style="display:none">txtStatus:<input id="txtStatus" type="text"
																					name="txtStatus" style="width: 100%" /></td>
																		</tr>
																		<tr>
																			<td style="display:none">txtQuality:<input id="txtQuality" type="text"
																					name="txtQuality" style="width: 100%" /></td>
																		</tr>
																		<tr>
																			<td style="display:none">txtNFIQ:<input id="txtNFIQ" type="text" name="txtNFIQ"
																					style="width: 100%" /></td>
																		</tr>
											
																		<tr>
																			<td style="display:none">txtIsoTemplate:<textarea id="txtIsoTemplate"
																					name="txtIsoTemplate" style="width: 100%"></textarea></td>
																		</tr>
											
																		<tr>
																			<td style="display:none">runsession:<input type="text" id="runsession"
																					name="runsession" style="width: 100%"></td>
																		</tr>
											
																		<tr>
																			<td style="display:none">imgFinger1:<textarea id="imgFinger1" name="imgFinger1"
																					style="width: 100%" required></textarea></td>
																		</tr>
								
																		<tr>
																			<td style="display:none">txtRawData:<textarea id="txtRawData" name="txtRawData"
																					style="width: 100%"></textarea></td>
																		</tr>
											
																		<tr>
																			<td style="display:none">txtWsqData:<textarea id="txtWsqData" name="txtWsqData"
																					style="width: 100%"></textarea></td>
																		</tr>
																		<tr>
																			<td style="display:none">txtIsoImage:<textarea id="txtIsoImage" name="txtIsoImage"
																					style="width: 100%" required></textarea></td>
																		</tr>
											
																		<tr>
																			<td style="display:none">txtStatusrti<input id="txtStatusrti" type="text"
																					name="txtStatusrti" style="width: 100%" /></td>
																		</tr>
																		<tr>
																			<td style="display:none">txtQualityrti:<input id="txtQualityrti" type="text"
																					name="txtQualityrti" style="width: 100%" /></td>
																		</tr>
																		<tr>
																			<td style="display:none">txtNFIQrti:<input id="txtNFIQrti" type="text"
																					name="txtNFIQrti" style="width: 100%" /></td>
																		</tr>
																	</table>
																	<td>
																	<img src="" style="width: 120px; height:150px;border:1px solid #000000; border-radius: 40%; " id="imgFinger" />
																	<button class="btn btn-primary "id="btnCapture" onclick="return Capture()"
																		type="submit" style="margin-top:10px;  margin-right: 25px; ">Capture LTI</button></td>
																		{% comment %} <input type="submit"> {% endcomment %}
																	<td>
																		<img src="" style="width: 120px; height:150px; border-radius: 40%;border:1px solid #000000" id="imgFingerrti" />
																		<button class="btn btn-primary" id="btnCapture" onclick="return Capture_rti()"
																				type="submit" style="margin-top:10px; margin-right: 25px;">Capture RTI</button></td>
																		<table>
																				<tr>
																					<td style="display:none">imgFingerrti1:<textarea id="imgFingerrti1"
																							name="imgFingerrti1" style="width: 100%" required></textarea></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtRawData:<textarea id="txtRawData" name="txtRawData"
																							style="width: 100%"></textarea></td>
																				</tr>
													
																				<tr>
																					<td style="display:none">txtWsqData:<textarea id="txtWsqData" name="txtWsqData"
																							style="width: 100%"></textarea></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtIsoImagerti:<textarea id="txtIsoImagerti" name="txtIsoImagerti"
																							style="width: 100%" required></textarea>
													
																					</td>
																				</tr>
													
																				<tr>
																					<td style="display:none">txtStatusrti<input id="txtStatusrti" type="text"
																							name="txtStatusrti" style="width: 100%" /></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtQualityrti:<input id="txtQualityrti" type="text"
																							name="txtQualityrti" style="width: 100%" /></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtNFIQrti:<input id="txtNFIQrti" type="text"
																							name="txtNFIQrti" style="width: 100%" /></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtIsoTemplaterti:<textarea id="txtIsoTemplaterti"
																							name="txtIsoTemplaterti" style="width: 100%"></textarea></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtRawDatarti<textarea id="txtRawDatarti"
																							name="txtRawDatarti" style="width: 100%"></textarea></td>
																				</tr>
																				<tr>
																					<td style="display:none">txtWsqDatarti:<textarea id="txtWsqDatarti"
																							name="txtWsqDatarti" style="width: 100%"></textarea></td>
																				</tr>
																	
																		</table>
																		<div style="margin-top: 40px;margin-left : -50px">
																		
																	      <button type="submit" class="btn btn-primary"> Click Me!</button> 
																		</div>
																</div> 
																</tr>
															</table>
															<div class="col-1"></div>
													</form>
												</div>	
												</div>
											</div>	  
								
										</div>	
									</div>
								</div>
								<div class="col-1"></div>
						<script>
									const form = document.getElementById('update_data');
									form.addEventListener("submit", submitHandler);
									function submitHandler(e) {
									e.preventDefault();
									$.ajax({
										type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
										url         : '{% url 'update_data' %}', // the url where we want to POST
										data        : $('#update_data').serialize(), // our form data
										dataType    : 'json', // what type of data do we expect back from the server
										success     : successFunction
										});
										}
										
										function successFunction(msg) {
										if (msg.message === 'success') {
													alert('Success!');
													form.reset()
												}
										}
								</script>  
							
		
                    </div>
			
								
			<div class="mb-3" style="margin-left: 10px;display:revert;font-size: 50px">
			  <form id='token_gen' action='token_gen'>
		          <input id='myInput' style="display:none;width: 100%" value={{ result_photo.token }} name="token1"/>
 
				   <button id="myBtn" class="btn btn-primary" type="submit">get token</button></a>  
			   </form>
			</div>
			<script>
				$(document).ready(function(){
					// Get value on button click and show alert
					$("#myBtn").click(function(){
						var str = $("#myInput").val();
						alert(str);
					});
				});
				</script>  
			
			<script>
				const form = document.getElementById('token_gen');
				form.addEventListener("submit", submitHandler);
				function submitHandler(e) {
				e.preventDefault();
				$.ajax({
					type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
					url         : '{% url 'token_gen' %}', // the url where we want to POST
					data        : $('#update_data').serialize(), // our form data
					dataType    : 'json', // what type of data do we expect back from the server
					success     : successFunction
					});
					}
					
					function successFunction(msg) {
					if (msg.message === 'success') {
								alert('Success!');
								form.reset()
							}
					}
			</script>  
			  
	
        </div>
		<div class='col-1' style='margin-left: 1850px'>
			<form id='candidate_image' action='showImage'>
                <button  class="btn btn-outline-light" type="submit">Showimage</button></a> 
             </form>  
		</div>

		
	 
    </body>

	  

</html>
{% endblock content %}









